@model SimpleCustomerDatabase.Web.Models.CustomerModels

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer View";
}

<h2 class="text-center">Simple Customer Database List</h2>

<div>
    <div>
        <div class="panel text-center">
            <p>Welcome to the Demo Customer Database</p>
        </div>
    </div>
</div>


<div class="row">
    <table class="columns medium-12">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var customer1 in Model.Customers)
        {
        <tbody>
            <tr>
                <td>@customer1.FirstName</td>
                <td>@customer1.LastName</td>
                <td>@customer1.PhoneNumber</td>
                <td>@customer1.Email</td>
                <td>@Html.ActionLink("Details", "Details", "Customer", new { id = customer1.Id }, new { @class = "tiny radius button" })</td>
            </tr>
        </tbody>
        }
    </table>
    <div class="row">
        <div class="columns medium-12">
            <a href="/Customer/Create" class="small radius button">Create Customer</a>
        </div>
    </div>

</div>

